@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Gresa', Helvetica, sans-serif;
	@apply bg-gray-800 text-gray-200;
}

/* CONTAINERS: */

.content-container {
	@apply w-full p-4 sm:p-6 max-w-3xl;
}

.text-content {
	@apply md:mt-16 mt-8;
}

.content-container > *,
.text-content > * {
	@apply mb-4;
}

.main > * {
	@apply p-2;
}

/* OVERRIDE DEFAULTS: */

a {
	@apply hover:text-gray-400;
}

.url {
	@apply text-sky-700 p-0;
}

h1,
h3 {
	font-family: 'Space Grotesk', sans-serif;
}

h1 {
	@apply text-3xl font-bold;
}

h3 {
	@apply text-xl;
}

/* SCROLL BAR: */

/* width */
::-webkit-scrollbar {
	width: 0px;
  }

/* SPECIFIC STYLES: */

#logo-wrapper {
	position: relative;
}

#logo {
	font-family: 'Arial Black', Helvetica, sans-serif;
	letter-spacing: -3px;
	/* STRETCHING */
	display: inline-block;
	@apply origin-top-left scale-x-125;
}

/* DEBUG */

* {
	/* background: rgba(255, 58, 58, 0.048); */
	/* outline: solid #ff00f23a 1px; */
}
